footer {
    text-align: center;
    font-family: courier;
    font-size: 13px;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1250px;
    height: 100%;
}

.batallon {
    float: left;
    display: block;
    width: 50%;
    text-align: center;
}

.batallon_content {
    margin: 75px auto;
}

.batallon_att {
    margin-left: 100px;
    margin-right: 100px;
    height: 100px;
    border-radius: 100px;
    background: rgb(255, 153, 153);
    border: 2px solid rgb(104, 0, 0);
    width: 100px;
    position: absolute;
    left: 0;
    -webkit-transform: rotate(45deg);
}

.batallon_def {
    margin-left: 100px;
    margin-right: 100px;
    height: 100px;
    border-radius: 100px;
    background: rgb(142, 255, 142);
    border: 2px solid rgb(0, 71, 0);
    width: 100px;
    position: absolute;
    right: 0;
    -webkit-transform: rotate(45deg);
}

.ataque {
    margin: 40px;
    float: right;
    width: 300px;
    height: 300px;
    background: rgb(194, 0, 0);
    border: 5px solid rgb(104, 0, 0);
    border-radius: 1000px;
    position: relative;
}
.defensa {
    margin: 40px;
    float: left;
    width: 300px;
    height: 300px;
    background: green;
    border: 5px solid rgb(0, 71, 0);
    border-radius: 1000px;
    position: relative;
}

.input {
}

.button {
    background: url(../img/attack.png);
    width: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
}
.attack {
    font-family: Lobster;
    padding-top: 42px;
    color: rgb(190, 0, 0);
}

.title {
    font-family: Lobster;
    font-size: 25px;
    color: white;
}

.title_input {
    font-family: Lobster;
    font-size: 20px;
    color: black
}
.troops {
    font-size: 19px;
    font-family: courier;
    padding-top: 20px;
    -webkit-transform: rotate(-45deg);
    padding-right: 15px;
}

.troops_input {
    float: left;
}

.enfrentar {
    bottom: 0;
    width: 100%;
    float: left;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 315px;
}