a {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-family: courier;
    font-size: 13;
    position: relative;
    text-decoration: none;
    color: white;
    line-height: 25px;
}

.next_action {
    background: url(../../img/arrow_right_gray.png);
    width: 25px;
    height: 25px;
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.player {
    font-weight: bold;
}

.control_panel {
    position: absolute;
    top: 10;
    left: 10;
    padding: 4;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
}

.alert_window {
    position: fixed;
    top: 10;
    right: 10;
    padding: 20;
    background: rgba(184, 184, 184, 0.75);
    border: 1px solid black;
    border-radius: 10px;
}

.icon {
    width: 25px;
    height: 25px;
}

a:hover {
    color: white;
}

.troops {
    position: absolute;
    width: 93%;
    height: 93%;
    border-radius: 100px;
    border: 1px solid black;
    opacity: 0.4;
}

.troops_main {
    width: 25px;
    height: 25px;
    position: absolute;
    text-align: center;
    color: white;
    overflow: hidden
}