a {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-family: courier;
    font-size: 13;
    position: relative;
    text-decoration: none;
    color: white;
    line-height: 25px;
}

.next_action {
    background: url(../../img/arrow_right_gray.png);
    width: 25px;
    height: 25px;
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    margin: 0 auto;
}

.soldiers {
    background: url(../../img/soldier.png);
    width: 20px;
    height: 20px;
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    margin: 0 auto;
    margin-top: 5;
}

.soldiers_num {
    font-size: 11;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    text-align: center;
    font-family: courier;
    color: white;
}

.player {
    font-weight: bold;
}

.control_parent_panel {
    position: fixed;
    top: 10;
    left: 10;
    padding: 4;
}

.control_panel {
    padding: 4;
    background: rgba(0, 0, 0, 0.14);
    border: 1px solid black;
    border-radius: 10px;
    float: left;
    margin: 5;
}

.alert_window {
    padding: 20;
    background: rgba(0, 0, 0, 0.14);
    border: 1px solid black;
    border-radius: 10px;
    float: left;
    margin: 5;
    color: white;
    font-family: "Helvetica";
}

.phase {
    text-align: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.14);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    top: 0;
    width: 500px;
    margin-top: 5;
    left: 400;
}

.phase p {
    font-family: "Lobster";
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 17;
}

.icon {
    width: 25px;
    height: 25px;
}

a:hover {
    color: white;
}

.connector {
    background: white;
    width: 10px;
    height: 10px;
    position: absolute;
}

.troops {
    position: absolute;
    width: 93%;
    height: 93%;
    border-radius: 100px;
    border: 1px solid black;
    opacity: 1;
}

.troops_main {
    width: 25px;
    height: 25px;
    position: absolute;
    text-align: center;
    color: white;
    overflow: hidden;
    z-index: 1;
}

.attack_button {
    position: absolute;
    background: url(../../img/attack.png);
    width: 60px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    text-align: center;
}

.attack_text {
    font-family: Lobster;
    color: rgb(190, 0, 0);
    font-size: 11;
    padding-top: 15;
}

.attack_text:hover {
    color: red;
}

._jsPlumb_connector  {
    opacity: 0.8;
}